/*Importing google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap");

/*Styling things in App */
.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

h1 {
  font-family: "Fascinate Inline", system-ui;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #333;
}

.main-input {
  width: 86%;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.submit-task {
  padding: 10px 20px;
  background-color: #088f8f;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #097969;
}

/* Styling things in ItemsList */
.task-list {
  margin-top: 20px;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
}

.task-item input[type="checkbox"] {
  margin-right: 20px;
}

.task-item button {
  background-color: #dc3545;
  border: none;
  margin-left: 20px;
  border-radius: 4px;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}

.task-item button:hover {
  background-color: #c82333;
}
